.page {
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  text-align: center;
}

.title {
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: 'Varela Round', sans-serif;
  font-weight: 600;
  font-size: 36px;
}

.text {
  font-family: 'Varela Round', sans-serif;
  font-size: 24px;
}
