.spinner {
  display: inline-block;
  position: relative;

  &.small {
    min-width: 40px;
    min-height: 40px;
  }

  &.standard {
    min-width: 64px;
    min-height: 64px;
  }

  &.big {
    min-width: 100px;
    min-height: 100px;
  }
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  opacity: 1;
  border-radius: 50%;
  box-shadow: #F05F90 0 0 0 4px;
  animation: spinner 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;

  &:nth-child(2) {
    animation-delay: -0.5s;
  }

  .small & {
    animation-duration: 1.1s;
  }

  .standard & {
    animation-duration: 1s;
  }

  .big & {
    animation-duration: 1.3s;
  }
}

@keyframes spinner {
  0% {
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}
