.chars {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px 0 100px;
}

.charContainer {
  display: flex;
  width: 25%;
  padding: 20px 15px;
  box-sizing: border-box;
}
