.section {
  padding: 140px 0 160px;
}

.title {
  text-align: center;
  font-size: 28px;
  color: #FF1F70;

  span {
    font-size: 40px;
  }
}

.icon {
  width: 520px;
  display: block;
  margin: 40px auto 0;
  transform: translate3d(-16px, 0, 0);
}