.section {
  background-color: #FFF5F8;
}

.items {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.itemContainer {
  width: 33.33%;
}

.item {
  max-width: 332px;
  padding: 0 20px;
  text-align: center;
}

.itemImage {
  width: 332px;
  display: block;
  margin: 0 auto;
}

.itemTitle {
  font-family: 'Varela Round', sans-serif;
  font-size: 22px;
}

.text {
  max-width: 640px;
  line-height: 60px;
  margin: 70px auto 0;
  text-align: center;
  font-size: 38px;
  color: #FF1F70;
}
