.heroCard {
  padding: 50px;
  position: relative;
}

.content {
  display: flex;
  align-items: flex-end;
}

.main {
  margin-right: 40px;

  &.rtl {
    margin-right: 0;
    margin-left: 40px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }
}

.name {
  height: 54px;
  line-height: 54px;
  background-color: #fff;
  padding: 0 30px;
  margin-bottom: 30px;
  position: absolute;
  left: 50px;
  top: -20px;
  z-index: 10;
  font-weight: 600;
  font-size: 24px;
  border-radius: 30px;
  box-shadow: rgba(#8c6c6c, 0.21) 0 3px 9px;

  .rtl & {
    left: auto;
    right: 50px;
  }
}

.heroImage {
  width: 100%;
  min-width: 200px;
}

.hp {
  margin-top: 10px;
}
