.header {
  height: 80px;
  display: flex;
  align-items: center;
  background-color: #fff;
  margin-bottom: 60px;
  box-shadow: rgba(#8c6c6c, 0.21) 0 2px 3px;
}

.content {
  width: 1200px;
  margin: 0 auto;
}

.logo {
  width: 220px;
  display: block;
}
