body {
  font-family: Roboto, sans-serif;
}

button {
  border: 0;
  outline: none;
  background: none;
  font-family: Roboto, sans-serif;
}

input {
  font-family: Roboto, sans-serif;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}

input:invalid,
input:-moz-submit-invalid,
input:required {
  box-shadow: none;
}
