.image,
.placeholder {
  width: 400px;
  display: block;
  margin: 0 auto;
}

.name {
  font-size: 24px;
  text-align: center;
}

.placeholderContainer {
  text-align: center;
}

.placeholder {
  opacity: 0.11;
}

.placeholderTitle {
  font-size: 24px;
}
