.items {
  display: flex;
  justify-content: center;
}

.itemContainer {
  width: 560px;
  padding: 0 20px;
  box-sizing: border-box;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}

.item {
  height: 300px;
  padding: 60px 0;
  background-color: #fff;
  box-sizing: border-box;
  border: 2px solid #D8DCEB;
  cursor: pointer;
  text-align: center;
  border-radius: 20px;
  transition: box-shadow 0.13s ease, filter 0.4s ease;

  &:hover,
  &.active {
    border-color: #FF1F70;
    box-shadow: 0 10px 20px rgba(255, 31, 112, 0.12);
  }

  &.disabled {
    cursor: default;
    filter: grayscale(100%);

    &:hover {
      border-color: #D8DCEB !important;
      box-shadow: none !important;
    }
  }
}

.imageContainer {
  width: 240px;
  height: 80px;
  margin: 0 auto 40px;
}

.itemImage {
  width: 100%;
  display: block;
}

.itemTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Varela Round', sans-serif;
  line-height: 64px;
  font-size: 24px;
  color: #FF1F70;
}

.spinner {
  margin: 0 4px;
}
