.header {
  text-align: center;
}

.icon {
  width: 70px;
  display: block;
  margin: 0 auto 20px;
}

.title {
  font-family: 'Varela Round', sans-serif;
  font-size: 42px;
}

.subTitle {
  margin-top: 10px;
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
  color: #f05f90;
}
